<% title_only_class = local_assigns[:summary].present? ? "" : "title-only" %>
<%= link_to local_assigns[:link], class: "link-wrapper", download: local_assigns[:download_filename] do %>
  <div class="media-object-1">
    <div class="media-icon">
      <% if local_assigns[:icon].present? %>
        <%= svg_tag "#{local_assigns[:icon]}", class: "svg-icon" %>
      <% else %>
        <%= svg_tag "icon-files", class: "svg-icon" %>
      <% end %>
    </div>
    <div class="media-title <%= title_only_class %>">
      <%= local_assigns[:title] %>
    </div>
    <div class="media-summary">
      <%= local_assigns[:summary] %>
    </div>
  </div>
<% end %>
