<%= form_for([:admin, @course_material], html: { multipart: true }) do |f| %>

  <%= render "form_errors", m: @course_material %>

  <fieldset>
    <% if @readonly %>
      <h2><%= @course_material.title %></h2>
    <% else %>
      <%= f.label :title, class: "required" %>
      <%= f.text_field :title, maxlength: 90 %>
      <div class="character-limit">&nbsp;</div>
    <% end %>
  </fieldset>

  <fieldset>
    <%= f.label :contributor, class: "required" %>
    <%= f.text_field :contributor, maxlength: 156 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :summary, class: "required" %>
    <%= f.text_field :summary, maxlength: 74 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :description, class: "required" %>
    <%= f.cktext_area :description %>
  </fieldset>

  <% unless @readonly %>
    <fieldset>
      <%= f.label :pub_status %>
      <%= f.select(:pub_status, options_for_select(Constants.pub_status_select_options, @course_material.pub_status), readonly: @readonly) %>
    </fieldset>

    <fieldset>
      <%= f.label :language %>
      <%= f.select(:language, options_for_select([['English', :en], ["Espa&ntilde;ol".html_safe, :es]], @course_material.language), readonly: @readonly) %>
    </fieldset>

    <fieldset>
      <%= f.label :category_id, class: "required" %>
      <%= f.select :category_id, options_for_select(categories_array, @course_material.try(:category).try(:id)),
        include_blank: "Select ..." %>
    </fieldset>

    <fieldset>
      <%= f.label :sub_category_id %>
      <%= f.grouped_collection_select :sub_category_id, Category.order(:title), :sub_categories, :title, :id, :title,
      selected: @course_material.try(:sub_category).try(:id), include_blank: "Select ..." %>
    </fieldset>

    <fieldset>
      <%= f.check_box :new_course %>
      <%= f.label :new_course, "AT&T Course", class: "inline-label" %>
    </fieldset>
  <% end %>

  <h3>Course Files <small>(acceptable formats: PDF, CSV, Word, PowerPoint, or Excel)</small></h3>

  <div class="js-cocoon-item-files">
    <%= f.fields_for :course_material_files do |file| %>
      <%= render "course_material_file_fields", f: file %>
    <% end %>
  </div>

  <div class="extra-margin-bottom">
    <%= link_to_add_association "Add Course File", f, :course_material_files,
      { "data-association-insertion-method" => "append", "data-association-insertion-node" => ".js-cocoon-item-files" } %>
  </div>

  <h3>Course Media <small>(acceptable formats: PNG, JPG, GIF)</small></h3>

  <div class="js-cocoon-item-medias">
    <%= f.fields_for :course_material_medias do |media| %>
      <%= render "course_material_media_fields", f: media %>
    <% end %>
  </div>

  <div class="extra-margin-bottom">
    <%= link_to_add_association "Add Course Media File", f, :course_material_medias,
      { "data-association-insertion-method" => "append", "data-association-insertion-node" => ".js-cocoon-item-medias" } %>
  </div>

  <h3>Course Videos</h3>

  <p class="note">
    Open your video on youtube.com, and click the share icon below the video.
    Copy and paste the content of the embed field from YouTube into this textbox.
  </p>

  <div class="js-cocoon-item-videos">
    <%= f.fields_for :course_material_videos do |video| %>
      <%= render "course_material_video_fields", f: video %>
    <% end %>
  </div>

  <div class="extra-margin-bottom">
    <%= link_to_add_association "Add Course Video", f, :course_material_videos,
      { "data-association-insertion-method" => "append", "data-association-insertion-node" => ".js-cocoon-item-videos" } %>
  </div>

  <div>
    <%= f.submit "Save Course", class: "margin-right" %>
    <%= link_to "Cancel", admin_course_materials_path %>
  </div>

<% end %>
