<%= form_for([:admin, @course_material], html: { multipart: true }) do |f| %>

  <%= render "form_errors", m: @course_material %>

  <fieldset>
    <%= f.label :title, class: "required" %>
    <%= f.text_field :title, maxlength: 90 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :contributor, class: "required" %>
    <%= f.text_field :contributor, maxlength: 156 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :summary, class: "required" %>
    <%= f.text_field :summary, maxlength: 156 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :description, class: "required" %>
    <%= f.cktext_area :description %>
  </fieldset>

  <h3>Course Files <small>(acceptable formats: PDF, CSV, Word, PowerPoint, or Excel)</small></h3>
  <div class="js-cocoon-item-files">
    <%= f.fields_for :course_material_files do |file| %>
      <%= render "course_material_file_fields", f: file %>
    <% end %>
  </div>

  <div class="extra-margin-bottom">
    <%= link_to_add_association "Add Course File", f, :course_material_files,
      { "data-association-insertion-method" => "append", "data-association-insertion-node" => ".js-cocoon-item-files" } %>
  </div>

  <h3>Course Media <small>(acceptable formats: PNG, JPG, GIF, WEBP, or MP4)</small></h3>
  <div class="js-cocoon-item-medias">
    <%= f.fields_for :course_material_medias do |media| %>
      <%= render "course_material_media_fields", f: media %>
    <% end %>
  </div>

  <div class="extra-margin-bottom">
    <%= link_to_add_association "Add Course Media File", f, :course_material_medias,
      { "data-association-insertion-method" => "append", "data-association-insertion-node" => ".js-cocoon-item-medias" } %>
  </div>

  <div>
    <%= f.submit "Save Course Materials" %>
  </div>

<% end %>
