<%= form_for([:admin, @course, @lesson], html: { multipart: true }) do |f| %>

  <%= render "form_errors", m: @lesson %>

  <fieldset>
    <%= f.label :title, class: "required" %>
    <%= f.text_field :title, maxlength: 90 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :summary, class: "required" %>
    <%= f.text_field :summary, maxlength: 156 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <div class="row">
    <div class="six columns">
      <fieldset>
        <%= f.label :duration, class: "required" %>
        <p class="note">Enter the estimated amount of time that this lesson will take to complete in the format (MM:SS).</p>
        <%= f.text_field :duration, value: @lesson.duration_str %>
      </fieldset>
    </div>

    <div class="six columns">
      <% if @lesson.story_line.blank? %>
        <fieldset>
          <%= f.label :story_line, class: "required" %>
          <p class="note">
            Upload a zip file containing all of the directories and files
            exported from Articulate for this lesson.
          </p>
          <%= f.file_field :story_line, class: "upload-field" %>
        </fieldset>
      <% else %>
        <fieldset>
          <%= f.label :story_line, class: "required" %>
          <p class="note">
            There can only be one story line per lesson, if you want to upload a new on,
            you need to delete the current one first.
          </p>
          <p class="upload-field">
            <%= @lesson.story_line.instance.story_line_file_name %>
            <%= link_to "Remove", destroy_asl_attachment_admin_course_lessons_path(@course, @lesson),
              method: "delete", data: { confirm: "Are you sure you want to remove this storyline file?" } %>
          </p>
        </fieldset>
      <% end %>
    </div>
  </div>

  <fieldset>
    <%= f.label :seo_page_title %>
    <%= f.text_field :seo_page_title, maxlength: 90 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :meta_desc %>
    <%= f.text_field :meta_desc, maxlength: 156 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :pub_status %>
    <%= f.select(:pub_status, options_for_select([["Draft", "D"], ["Published", "P"]], @lesson.pub_status)) %>
  </fieldset>

  <fieldset>
    <%= f.label :is_assessment %>
    <p class="note">Is this lesson the final assessment for the course?</p>
    <%= f.radio_button :is_assessment, true %>
    <%= f.label :is_assessment_true, "Yes", class: "plain" %>
    <%= f.radio_button :is_assessment, false %>
    <%= f.label :is_assessment_false, "No", class: "plain" %>
  </fieldset>

  <%= f.submit "Save Lesson" %>

<% end %>
