<hr class="extra-space">
<h2>Lessons</h2>

<p class="note extra-margin-bottom">
  Drag and drop the lessons to reorder them. Click on a lesson to edit it in the form above.
</p>

<%= hidden_field_tag :sort_url, "/admin/trainings/#{@course.slug}/lessons/sort" %>
<div class="extra-margin-bottom">
  <div class="sortable-list">
    <div class="list-titles">
      <div class="cell">Lesson</div>
      <div class="cell">Summary</div>
      <div class="cell">Status</div>
      <div class="cell">Duration</div>
    </div>
    <% if @course.lessons.not_archived.present? %>
      <ul class="objects sortable reorderable">
        <% @course.lessons.not_archived.each do |lesson| %>
          <li class="sortable-item" data-id="<%= lesson.id %>">
            <div class="cell"><%= link_to lesson.title, edit_admin_course_lesson_path(@course, lesson), class: "no_drag_link" %></div>
            <div class="cell"><%= lesson.summary.truncate(50) %></div>
            <div class="cell"><%= lesson.pub_status %></div>
            <div class="cell"><%= lesson.duration_str %></div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no available lessons.</p>
    <% end %>
  </div>
</div>

<%= link_to "Add Another Lesson", new_admin_course_lesson_path, class: "btn" %>
<%= link_to "Return to Course Edit Page", edit_admin_course_path(@course), class: "btn btn-grey" %>
