<div class="extra-margin-bottom">
  <%= link_to @course_material.sub_category.category.title, category_path(@course_material.sub_category.category) %> >>
  <%= @course_material.sub_category.title %> >> <%= @course_material.title %>
</div>

<div class="row extra-margin-bottom">
  <div class="six columns course-material-meta">
    <%= svg_tag "icon-download", class: "svg-icon teal" %>
    <%= @course_material.course_material_files.size %> files and <%= @course_material.course_material_medias.size %> images
  </div>

  <div class="six columns">
    <%= svg_tag "icon-mail", class: "svg-icon teal" %>
    Have something to contribute?
    <%= mail_to "support@digitallearn.org", "Get in touch", subject: "Contact from DigitalLearn Training site" %>
  </div>
</div>

<div class="extra-margin-bottom">
  <div>Contributed by: <%= @course_material.contributor %></div>
  <div>Topics: </div>
</div>

<div class="extra-margin-bottom">
  <p><%= @course_material.summary %></p>
</div>

<hr />

<h2>Class Files</h2>

<%= render partial: "grid", locals: { course_material: @course_material } %>

<div style="text-align: center;">
  <button>Download All Files</button>
</div>

<h2>Sample Images</h2>

<%= render partial: "grid", locals: { course_material: @course_material } %>

<div style="text-align: center;">
  <button>Download All Images</button>
</div>

<hr />

<h2>
  More Classes in <%= @course_material.sub_category.title %> Category
  <small><%= link_to "View All >>", category_path(@course_material.sub_category) %></small>
</h2>

<% if @course_materials.present? %>
  <%= render "listing" %>
<% else %>
  <p>There are currently no available courses.</p>
<% end %>
