<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "meta_tags" %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
  </head>
  <body>
    <%= render "application/header" %>
    <div class="banner">
      <div class="container">
        <% if content_for?(:callout) %>
          <%= yield :callout %>
        <% else %>
          <h1 class="slogan">Admin Site</h1>
        <% end %>
      </div>
    </div>
    <main class="container">
      <%= render "flashes" %>
      <div class="row">
        <div class="three columns">
          <%= render "admin_sidebar" %>
        </div>
        <div class="nine columns">
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render "footer" %>
    <%= render "google_analytics" if Rails.env.production? %>
  </body>
</html>
