<% if @use_ui_v2 %>
  <%= react_component class: "forgot-password", data: { props: { requestPasswordResetPath: password_path(resource_name), signInPath: new_user_session_path } } %>
  <%= vite_javascript_tag 'forgot-password.jsx' %>
<% else %>
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <fieldset>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </fieldset>

    <fieldset class="actions">
      <%= f.submit "Send me reset password instructions" %>
    </fieldset>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>