<%# Deprecated with UI V2 %>

<% if current_organization %>
  <%= render "#{current_organization.subdomain}/courses/overview" %>
<% else %>
  <div class="homepage">
    <%= render "how_to_use" %>
    <%= render "course_materials" %>
    <%= render "instructional_design_training" %>
    <%= render "materials_templates" %>
    <%= render "contribute" %>
    <%= render "additional_resources" %>
  </div>
<% end %>
