<%= render "shared/courses/overview" %>

<div class="info-widget">
  <header>
    <h2>Training</h2>
  </header>
  <div class="content">
    <div class="row">
      <div class="four columns">
        <p class="padding-right">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="eight columns">
        <%= render "training" %>
      </div>
    </div>
    <hr />
    <div class="align-right">
      <%= link_to "All Trainings >", courses_path %>
    </div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div class="info-widget">
      <header>
        <h2>Latest Peer Discussions</h2>
      </header>
      <div class="content">
        <%= render "peer_discussions" %>
        <hr />
        <div class="align-right">
          <%= link_to "All Peer Discussions >", "http://community.digitallearn.org/" %>
        </div>
      </div>
    </div>
  </div>

  <div class="six columns">
    <div class="info-widget">
      <header>
        <h2>Stay Connected</h2>
      </header>
      <div class="content">
        <%= render "newsletter_signup_form" %>
        <hr />
        <div class="align-right">
          <%= link_to "Connect on Facebook >", "https://www.facebook.com/digitallearn.org/" %>
        </div>
      </div>
    </div>
  </div>
</div>
