<% content_for :meta_title do %>
  <%= @course.seo_page_title.present? ? @course.seo_page_title : @course.title  %>
<% end %>
<% content_for :meta_description do %>
  <%= @course.meta_desc.present? ? @course.meta_desc : @course.summary %>
<% end %>
<% content_for :callout do %>
  <h1><%= @course.title %></h1>
<% end %>


<% unless @use_ui_v2 %>
  <div><small><%= link_to "Courses", courses_path %> >> <%= @course.title %></small></div>
<% end %>
