<div class="cert-box">
  <h1><%= t("completed_courses_page.certificate_of_completion") %></h1>
  <p><%= t("certificate.this_award") %></p>
  <p><%= t("certificate.name_fill_long") %></p>
  <p><%= t("certificate.has_completed") %></p>
  <h2 class="course"><%= @course.title %></h2>
  <p><%= t("certificate.as_of") %> <%= local_time(Time.zone.now, "%B %e, %Y") %></p>
  <%= wicked_pdf_image_tag "dl_logo.png" %>
</div>
