<div class="cert-box">
  <h1><%= t("completed_courses_page.certificate_of_completion") %></h1>
  <p><%= t("certificate.this_award") %></p>
  <p><%= t("certificate.name_fill_long") %></p>
  <p><%= t("certificate.has_completed") %></p>
  <h2 class="course"><%= @course.title %></h2>
  <p><%= t("certificate.as_of") %> <div id='timestamp'></div></p>
  <%= wicked_pdf_image_tag "dl_logo.png" %>
</div>

<script>
  var timestampElement = document.getElementById('timestamp');
  var now = new Date();

  var dateOptions = {
    month: 'long',
    day: 'numeric',
    year: 'numeric'
  }
  timestampElement.innerHTML = now.toLocaleDateString('en-US', dateOptions)
</script>
