<%= render "shared/courses/language_links" %>

<% if current_organization && lookup_context.exists?('show', ["#{current_organization.subdomain}/categories"], true) %>
  <%= render "#{current_organization.subdomain}/categories/show" %>
<% else %>
  <h2><%= @category.title %></h2>
  <p><%= @category.description %></p>

  <% if @course_materials.present? || @sub_categorized_course_materials.present? %>
    <%= render "listing" %>
  <% else %>
    <p>There are currently no available courses.</p>
  <% end %>

<% end %>
