<header class="site-header">
  <div class="container header-grid">
    <nav class="secondary-links">
      <%= link_to "Tools for Learners", "https://www.digitallearn.org/" %>
    </nav>
    <%= link_to root_path, class: "logo-link" do %>
      <div class="logo">
        <div class="logo-icon">
          <%= image_tag "dl_logo" %>
        </div>
      </div>
    <% end %>
    <nav class="home-links non-flex-links">
      <span class="black">Hi Admin!</span><span class="divider">|</span>
      <%= link_to "Admin Dashboard", admin_course_materials_path %><span class="divider">|</span>
      <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
    </nav>
  </div>
</header>
