<header class="site-header">
  <div class="container">
    <nav class="secondary-links">
      <%= link_to "Tools for Learners", "https://www.digitallearn.org/" %>
    </nav>
    <div class="logo-link-container">
      <%= link_to root_path do %>
        <div class="logo">
          <div class="logo-icon">
            <%= image_tag "dl_logo" %>
          </div>
        </div>
      <% end %>
      <nav class="primary-links">
        <%= link_to "Training", "#" %><span class="divider">|</span>
        <%= link_to "Peer Discussion", "http://community.digitallearn.org/" %><span class="divider">|</span>
        <%= link_to "Course Materials", "#" %>
      </nav>
    </div>
  </div>
</header>
