<%= content_for(:callout) { %><h1>Archived Trainings</h1><% } %>

<div class="extra-margin-bottom">
  <div class="sortable-list">
    <div class="list-titles">
      <div class="cell">Training</div>
      <div class="cell">Contributor</div>
      <div class="cell">Status</div>
      <div class="cell">Publication Date</div>
    </div>
    <% if @courses.present? %>
      <ul class="objects sortable reorderable">
        <% @courses.each do |course| %>
          <li class="sortable-item" data-id="<%= course.id %>">
            <div class="cell"><%= link_to course.title, edit_admin_course_path(course), class: "no_drag_link" %></div>
            <div class="cell"><%= course.contributor %></div>
            <div class="cell"><%= pub_status(course.pub_status) %></div>
            <div class="cell"><%= course.pub_date_str %></div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no archived trainings.</p>
    <% end %>
  </div>
</div>

<p>
  <%= link_to "View Trainings", admin_courses_path, class: "note" %>
</p>
