<%= form_for([:admin, @course], html: { multipart: true }) do |f| %>

  <%= render "form_errors", m: @course %>

  <fieldset>
    <%= f.label :title, class: "required" %>
    <%= f.text_field :title, maxlength: 90 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :contributor, class: "required" %>
    <%= f.text_field :contributor %>
  </fieldset>

  <fieldset>
    <%= f.label :summary, class: "required" %>
    <%= f.text_field :summary, maxlength: 156 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :description, class: "required" %>
    <%= f.cktext_area :description %>
  </fieldset>

  <fieldset>
    <%= f.label :pub_status %>
    <%= f.select(:pub_status, options_for_select(Constants.pub_status_select_options, @course.pub_status)) %>
  </fieldset>

  <div class="row">
    <div class="six columns">
      <%= f.fields_for :attachments, @course.attachments.build do |a| %>
        <fieldset>
          <%= a.label :document, "Text Copies of the Training" %>
          <p class="note">Upload any supporting documentation or supplemental materials needed during the training.</p>
        </fieldset>
        <fieldset>
          <%= a.hidden_field :_destroy, class: "removable" %>
          <%= a.hidden_field :doc_type, value: "supplemental" %>
          <%= a.file_field :document, class: "upload-field" %>
          <%= a.label :file_description, class: "screen-reader-text" %>
          <%= a.text_field :file_description, class: "text-field", placeholder: "(optional) Add a description..." %>
        </fieldset>
      <% end %>
      <%= link_to_add_fields "Add Supplemental Attachment", f , :attachments, "sup" %>
    </div>

    <div class="six columns">
      <%= f.fields_for :attachments, @course.attachments.build do |a| %>
        <fieldset>
          <%= a.label :document, "Post Completion Resources" %>
          <p class="note">Upload any supporting documentation or supplemental materials needed after the training.</p>
        </fieldset>
        <fieldset>
          <%= a.hidden_field :doc_type, value: "post-course" %>
          <%= a.hidden_field :_destroy, class: "removable" %>
          <%= a.file_field :document, class: "upload-field" %>
          <%= a.label :file_description, class: "screen-reader-text" %>
          <%= a.text_field :file_description, class: "text-field", placeholder: "(optional) Add a description..." %>
        </fieldset>
      <% end %>
      <%= link_to_add_fields "Add Post Completion Attachment", f , :attachments, "post" %>
    </div>
  </div>

  <% if @course.attachments.exists? %>
    <div class="row">
      <fieldset class="six columns">
        <%= f.label :document, "Supplemental Attachments" %>
        <ul>
          <% @course.attachments.supplemental_attachments.each do |a| %>
            <li>
              <%= a.document.filename %> -
              <%= link_to "Delete", admin_attachment_path(a), method: :delete, data: { confirm: "Are you sure you want to delete this attachment?" } %>
            </li>
          <% end %>
        </ul>
      </fieldset>
      <fieldset class="six columns">
        <%= f.label :document, "Post-Training Attachments" %>
        <ul>
          <% @course.attachments.post_course_attachments.each do |a| %>
            <li>
              <%= a.document.filename %> -
              <%= link_to "Delete", admin_attachment_path(a), method: :delete, data: { confirm: "Are you sure you want to delete this attachment?" } %>
            </li>
          <% end %>
        </ul>
      </fieldset>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :notes, "Info to help learners practice and use their new skills (post completion)" %>
    <%= f.cktext_area :notes %>
  </fieldset>

  <fieldset>
    <%= f.label :seo_page_title %>
    <%= f.text_field :seo_page_title, maxlength: 90 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <fieldset>
    <%= f.label :meta_desc %>
    <%= f.text_field :meta_desc, maxlength: 156 %>
    <div class="character-limit">&nbsp;</div>
  </fieldset>

  <div class="actions">
    <div class="row">
      <div class="six columns">
        <%= f.submit "Save Training", params: { commit: "Save Course" } %>
      </div>
      <div class="six columns">
        <% if @course.lessons.blank? %>
          <%= f.submit "Save Training and Add Lessons" %>
        <% else %>
          <%= f.submit "Save Training and Edit Lessons" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
