<%= content_for(:callout) { %><h1>Course Index</h1><% } %>

<div class="row extra-margin-bottom">
  <div class="six columns">
    <p class="note no-top-margin">
      Re-order courses on the homepage by clicking on the arrow icon to drag and drop courses. Edit by clicking the appropriate course below.
    </p>
  </div>
  <div class="six columns left-or-right">
    <%= link_to "Add a New Course", new_admin_course_path, class: "btn button-color" %>
  </div>
</div>

<%= hidden_field_tag :sort_url, "/admin/courses/sort" %>
<div class="extra-margin-bottom">
  <div class="sortable-list">
    <div class="list-titles">
      <div class="cell">Course</div>
      <div class="cell">Contributor</div>
      <div class="cell">Status</div>
      <div class="cell">Publication Date</div>
    </div>
    <% if @courses.present? %>
      <ul class="objects sortable reorderable">
        <% @courses.each do |course| %>
          <li class="sortable-item" data-id="<%= course.id %>">
            <div class="cell"><%= link_to course.title, edit_admin_course_path(course), class: "no_drag_link" %></div>
            <div class="cell"><%= course.contributor %></div>
            <div class="cell"><%= course.pub_status.titleize %></div>
            <div class="cell"><%= course.pub_date_str %></div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no available courses.</p>
    <% end %>
  </div>
</div>
