<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "meta_tags" %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= javascript_tag do %>
      window.orgThemeOverrides = <%= (current_organization&.theme_overrides || {}).to_json.html_safe %>;
    <% end %>
  </head>
  <body class="<%= "#{current_organization&.subdomain} #{controller_name}-#{action_name}" %> <%= @use_ui_v2 ? 'v2-ui' : ''%> <%= @legacy_page ? 'legacy-page' : '' %>">
    <div class="page-wrapper">
      <% if current_organization && lookup_context.exists?('header', [current_organization.subdomain], true) %>
        <%= render "#{current_organization.subdomain}/header" %>
      <% else %>
        <%= render "application/header" %>
      <% end %>
      <main class="content">
        <%= render "flashes" %>
        <div class="page-content">
          <% if @use_ui_v2 && @include_user_sidebar %>
            <%= render "user_sidebar" %>
          <% end %>
          <% if @include_admin_sidebar %>
            <%= render "admin_sidebar" %>
          <% end %>
          <div class="main-content">
            <%= yield %>
          </div>
        </div>
      </main>
      <% if current_organization && lookup_context.exists?('footer', [current_organization.subdomain], true) %>
        <%= render "#{current_organization.subdomain}/footer" %>
      <% else %>
        <%= render "footer" %>
      <% end %>
    </div>
    <%= render "google_analytics" if Rails.env.production? %>
  </body>
</html>
