<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "meta_tags" %>
  </head>
  <body class="<%= "#{controller_name}-#{action_name}" %>">
    <%= render "header" %>
    <div class="banner color">
      <div class="container">
        <% if content_for?(:callout) %>
          <%= yield :callout %>
        <% else %>
          <h1 class="slogan">
            Tools and Resources for Online Trainers
          </h1>
        <% end %>
      </div>
    </div>
    <main class="container">
      <%= render "flashes" %>
      <%= yield %>
    </main>
    <%= render "footer" %>
    <%= render "google_analytics" if Rails.env.production? %>
  </body>
</html>
