<header class="site-header">
  <div class="container header-grid">
    <nav class="secondary-links">
      <%= link_to "Tools for Learners", "https://att.digitallearn.org/" %>
    </nav>
    <%= link_to root_path, class: "logo-link" do %>
      <div class="logo">
        <div class="logo-icon">
          <%= image_tag "#{current_organization.subdomain}_logo.png" %>
        </div>
      </div>
    <% end %>
    <nav class="home-links non-flex-links">
      <% if admin_signed_in? %>
        <span class="black">Hi Admin!</span><span class="divider">|</span>
        <%= link_to "Admin Dashboard", admin_course_materials_path %><span class="divider">|</span>
        <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
      <% elsif current_user %>
        <% courses_base_links = ["/courses", "/categories"] %>
        <%= link_to "Courses", course_materials_path, class: add_active_base_link(courses_base_links) %>
        <span class="divider">|</span>
        <%= link_to "Sign Out", destroy_saml_user_session_path, method: "DELETE" %>
      <% end %>
    </nav>
  </div>
</header>
